#helpBtn {
    background: url(./help.svg);
}

#settingsBtn {
    background: url(./settings.svg);
}

#statsBtn {
    background: url(./stats.svg);
}

#helpBtn, #settingsBtn, #statsBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.tab {
    display: none;
}

.tab-button2,
.tab-button3,
.tab-button4,
.tab-button5,
.tab-button6 {
    display: none;
}

.tab-button1:checked ~ .tab-page1,
.tab-button2:checked ~ .tab-page2,
.tab-button3:checked ~ .tab-page3,
.tab-button4:checked ~ .tab-page4,
.tab-button5:checked ~ .tab-page5,
.tab-button6:checked ~ .tab-page6 {
    display: block;
}

#guessInput {
    display: inline-block;
}

.tab img {
    max-height: 300px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}